# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.firebaserc.local

# Environment / Secrets
.env
.env.local
.env.*.local
firebase-config.js

# Node
node_modules/
npm-debug.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
